doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title 配信情報
  body
    h3 配信情報
      h4 タイトル: 
        span #{title}
      h4 配信日時: 
        span #{time}
      h4 配信情報: 
        span #{description}
    a(href="/") ホームに戻る